name: "Run Unit Tests"
on:
  push:
    branches:
        [main]
  pull_request:
    branches:
        [main] 

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & Cache Dependencies
              id: load-cache-deps
              uses: ./.github/workflows/actions/cache-deps
              with:
                caching: "true"
            - name: Output Cache Status
              run: echo "Used cache ${{steps.load-cache-deps.outputs.used-cache}}"
            - name: Run Unit Tests
              run: pnpm test
            - name: Upload Coverage Report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: coverage/
                retention-days: 30
              if: always()
    lint:
        needs: tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & Cache Dependencies
              id: load-cache-deps
              uses: ./.github/workflows/actions/cache-deps
              with:
                caching: "true"
            - name: Output Cache Status
              run: echo "Used cache ${{steps.load-cache-deps.outputs.used-cache}}"
            - name: Run Linter
              run: pnpm lint
            - name: Lint Status
              run: echo "Linting completed successfully"
    build:
        needs: [tests, lint]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & Cache Dependencies
              id: load-cache-deps
              uses: ./.github/workflows/actions/cache-deps
              with:
                caching: "true"
            - name: Output Cache Status
              run: echo "Used cache ${{steps.load-cache-deps.outputs.used-cache}}"
            - name: Build Project
              run: pnpm build
            - name: Build Status
              run: echo "Build completed successfully"